

    .Signup-card h3{
         
        font-size: 1.9rem ;
    }

@media (max-width: 609px ) and (min-width: 100px ) {
    
    .Signup-card h3{
        font-size: 1.0rem ;
    }
    .Ul-list-of-Signup-page{
      font-size: 12px ;    
     
    }
    .Signup-card{
        padding: 9px !important ;
        margin: 12px !important ;
    }
    .col1{
        border-right: none !important ;
        border-bottom: 2px solid white !important ;
        height: auto !important ;
        padding-bottom: 20px !important ;
    }
}